.contents-2mQqc9 > img[src*="766314130880593932"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "MainDab Owner";
}
.contents-2mQqc9 > img[src*="326493176632442880"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "MainDab Moderator";
}
.contents-2mQqc9 > img[src*="658319251496763423"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "MainDab Moderator";
}
.contents-2mQqc9 > img[src*="658319251496763423"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "MainDab Moderator";
}
.contents-2mQqc9 > img[src*="470815133061480448"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "MainDab Moderator";
}
.contents-2mQqc9 > img[src*="586299302708510720"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "MainDab Admin";
}
.contents-2mQqc9 > img[src*="717788240631037993"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "MainDab Admin";
}
.contents-2mQqc9 > img[src*="460277128005681152"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "Wimp29 from MainDab";
}

.contents-2mQqc9 > img[src*="268694448840376320"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "Elysion from MainDab";
}

.contents-2mQqc9 > img[src*="371323242532831232"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "DoubleTrouble from MainDab";
}
